.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #f2fcfe, #1c92d2, #f2fcfe);
}

.register-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.register-form .logo {
    position: absolute;
    top: -1px; /* Adjust as needed */
    left: 50%; /* Center the logo */
    transform: translateX(-50%); /* Center the logo */
    width: 100px;
    height: auto;
}



.register-form input.error-input {
    border-bottom: 2px solid red;
}

.register-form input.normal-input {
    border-bottom: 2px solid #1c92d2;
}


.register-form .error {
    color: red;
    font-size: 0.8em;
    text-align: left;
    width: 80%;
    margin: 0 auto 10px;
}
 
.register-form h2 {
    margin-bottom: 30px;
    color: #333;
    font-size: 1.6em;
    font-weight: 300;
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-shadow: none;
    padding-bottom: 10px;
    margin-top: 30px;
}
 
.register-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #1c92d2;
    border-radius: 0;
    font-size: 0.9em;
    outline: none;
    transition: all 0.3s ease;
}
 
.register-form input:focus {
    border-bottom-color: #333;
}
 
.register-form button,
.google-login button {
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 10px;
}
 
.register-form button {
    background: #1c92d2;
    color: white;
    border: none;
}
 
.register-form button:hover {
    background: #1a82b8;
}
 
.google-login button {
    background-color: white;
    color: #4285f4;
    border: 1px solid #4285f4;
    padding: 10px 20px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}
 
.google-login button:hover {
    background-color: #1c92d2;
    color: white;
}
 
.google-login img {
    margin-right: 10px;
}
